body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
}

form {
	width: 50%;
	margin: 0 auto;
}

input {
	width: 100%;
}

button {
	margin-left: 45%;
}
